In [1]:
from sklearn.datasets import load_boston

In [10]:
boston_dataset = load_boston()

In [11]:
boston_df = pd.DataFrame(boston_dataset.data,columns = boston_dataset.feature_names)

In [12]:
boston_df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [17]:
boston_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [20]:
boston_df.shape

(506, 13)

In [22]:
boston_df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
dtype: int64

In [23]:
boston_df.value_counts("RAD")

RAD
24.0    132
5.0     115
4.0     110
3.0      38
6.0      26
2.0      24
8.0      24
1.0      20
7.0      17
dtype: int64

In [24]:
boston_df.groupby("RAD").mean()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,TAX,PTRATIO,B,LSTAT
RAD,,,,,,,,,,,,
1.0,0.036029,39.900000,5.066000,0.050000,0.462890,6.555850,45.025000,6.027825,291.450000,17.565000,389.273000,7.370000
2.0,0.083285,20.416667,9.630833,0.000000,0.484917,6.649958,64.770833,4.097008,260.666667,17.291667,386.413750,10.024583
3.0,0.097359,16.381579,4.418947,0.052632,0.452424,6.473026,49.310526,5.146492,246.078947,18.168421,392.417895,9.076053
4.0,0.393903,14.731818,10.746636,0.072727,0.504311,6.133118,60.841818,4.433000,335.981818,19.136364,382.721273,12.199091
5.0,0.687792,11.108696,9.759826,0.095652,0.570883,6.393157,69.223478,3.697329,331.843478,16.546957,369.192435,10.657217
6.0,0.150054,12.980769,8.198077,0.000000,0.514846,6.104731,60.142308,4.024915,372.884615,17.815385,387.366538,12.305769
7.0,0.150399,26.705882,5.034706,0.000000,0.441000,6.647765,40.141176,6.495859,304.411765,18.405882,388.432941,7.988235
8.0,0.371410,6.250000,5.932500,0.208333,0.492500,6.950792,67.350000,4.410604,301.250000,17.975000,385.277500,7.960833
24.0,12.759291,0.000000,18.100000,0.060606,0.672417,6.022152,89.805303,2.061254,666.000000,20.200000,288.089167,18.600606

In [25]:
boston_df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [29]:
boston_df.drop(index=0,axis=0,inplace=True)

In [37]:
boston_df.drop(index=3,inplace=True)

In [38]:
boston_df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21
6,0.08829,12.5,7.87,0.0,0.524,6.012,66.6,5.5605,5.0,311.0,15.2,395.60,12.43
7,0.14455,12.5,7.87,0.0,0.524,6.172,96.1,5.9505,5.0,311.0,15.2,396.90,19.15
8,0.21124,12.5,7.87,0.0,0.524,5.631,100.0,6.0821,5.0,311.0,15.2,386.63,29.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [39]:
boston_df.iloc[3]

CRIM         0.14455
ZN          12.50000
INDUS        7.87000
CHAS         0.00000
NOX          0.52400
RM           6.17200
AGE         96.10000
DIS          5.95050
RAD          5.00000
TAX        311.00000
PTRATIO     15.20000
B          396.90000
LSTAT       19.15000
Name: 7, dtype: float64

In [43]:
print(boston_df.iloc[:,0])
print(boston_df.iloc[:,2])
print(boston_df.iloc[:,3])
print(boston_df.iloc[:,-1])

4      0.06905
5      0.02985
6      0.08829
7      0.14455
8      0.21124
        ...
501    0.06263
502    0.04527
503    0.06076
504    0.10959
505    0.04741
Name: CRIM, Length: 502, dtype: float64
4       2.18
5       2.18
6       7.87
7       7.87
8       7.87
       ...
501    11.93
502    11.93
503    11.93
504    11.93
505    11.93
Name: INDUS, Length: 502, dtype: float64
4      0.0
5      0.0
6      0.0
7      0.0
8      0.0
      ...
501    0.0
502    0.0
503    0.0
504    0.0
505    0.0
Name: CHAS, Length: 502, dtype: float64
4       5.33
5       5.21
6      12.43
7      19.15
8      29.93
       ...
501     9.67
502     9.08
503     5.64
504     6.48
505     7.88
Name: LSTAT, Length: 502, dtype: float64

In [44]:
boston_df.corr()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
CRIM,1.000000,-0.201746,0.405361,-0.056855,0.419977,-0.217605,0.352597,-0.378674,0.624943,0.582151,0.289184,-0.384196,0.454630
ZN,-0.201746,1.000000,-0.538131,-0.043384,-0.520115,0.315328,-0.571102,0.668177,-0.315012,-0.318575,-0.392556,0.176754,-0.417652
INDUS,0.405361,-0.538131,1.000000,0.061151,0.763829,-0.388914,0.645666,-0.707681,0.592792,0.719340,0.381511,-0.355468,0.600741
CHAS,-0.056855,-0.043384,0.061151,1.000000,0.090056,0.093125,0.086168,-0.098114,-0.009284,-0.037769,-0.122895,0.049759,-0.056459
NOX,0.419977,-0.520115,0.763829,0.090056,1.000000,-0.299604,0.732196,-0.768522,0.610294,0.666688,0.188573,-0.378952,0.589629
RM,-0.217605,0.315328,-0.388914,0.093125,-0.299604,1.000000,-0.238891,0.202257,-0.206174,-0.288222,-0.355468,0.126131,-0.611519
AGE,0.352597,-0.571102,0.645666,0.086168,0.732196,-0.238891,1.000000,-0.748215,0.456525,0.506980,0.262236,-0.273302,0.602969
DIS,-0.378674,0.668177,-0.707681,-0.098114,-0.768522,0.202257,-0.748215,1.000000,-0.493145,-0.532555,-0.232574,0.290294,-0.495099
RAD,0.624943,-0.315012,0.592792,-0.009284,0.610294,-0.206174,0.456525,-0.493145,1.000000,0.909881,0.463480,-0.443137,0.485334
TAX,0.582151,-0.318575,0.719340,-0.037769,0.666688,-0.288222,0.506980,-0.532555,0.909881,1.000000,0.460688,-0.440563,0.540705
PTRATIO,0.289184,-0.392556,0.381511,-0.122895,0.188573,-0.355468,0.262236,-0.232574,0.463480,0.460688,1.000000,-0.176223,0.372806
B,-0.384196,0.176754,-0.355468,0.049759,-0.378952,0.126131,-0.273302,0.290294,-0.443137,-0.440563,-0.176223,1.000000,-0.364601
LSTAT,0.454630,-0.417652,0.600741,-0.056459,0.589629,-0.611519,0.602969,-0.495099,0.485334,0.540705,0.372806,-0.364601,1.000000